{% extends 'layout.html' %} {% block content %}
<h1>{{title}}</h1>
<a href="/" id="exit-btn">방 나가기</a>
<fieldset>
  <legend>채팅 내용</legend>
  <div id="chat-list">
    {% for chat in chats %} {% if chat.user === user %}
    <div class="mine" style="color: {{chat.user}}">
      <div>{{chat.user}}</div>
      {% if chat.img %}}
      <img src="/img/{{chat.img}}" />
      %else if chat.file %
      <img src="/file/{{chat.file}}" />
      {% else %}
      <div>{{chat.chat}}</div>
      {% endif %}
    </div>
    {% elif chat.user === 'system' %}
    <div class="system">
      <div>{{chat.chat}}</div>
    </div>
    {% else %}
    <div class="other" style="color: {{chat.user}}">
      <div>{{chat.user}}</div>
      {% if chat.img %}}
      <img src="/img/{{chat.img}}" />
      %else if chat.file %
      <img src="/file/{{chat.file}}" />
      {% else %}
      <div>{{chat.chat}}</div>
      {% endif %}
    </div>
    {% endif %} {% endfor %}
  </div>
</fieldset>
<form action="/chat" id="chat-form" method="post" enctype="multipart/form-data">
  <label for="img">파일 업로드</label>
  <input type="file" id="img" name="img" />
  <input type="text" id="chat" name="chat" />
  <button type="submit">전송</button>
</form>
<form action="/" id="delete-room" method="delete">
  <button type="submit">방 제거</button>
</form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('http://localhost:3001/chat', {
    path: '/socket.io',
  });
  socket.on('register', (data) => {
    const div = document.createElement('div');
    div.classList.add('system');
    const chat = document.createElement('div');
    div.textContent = data.chat;
    div.appendChild(chat);
    document.querySelector('#chat-list').appendChild(div);
  });
  socket.on('exit', (data) => {
    const div = document.createElement('div');
    div.classList.add('system');
    const chat = document.createElement('div');
    div.textContent = data.chat;
    div.appendChild(chat);
    document.querySelector('#chat-list').appendChild(div);
  });
  socket.on('chat', (data) => {
    //createElement은 괄호 안에 있는 요소를 만든다는 의미
    const div = document.createElement('div');
    const img = document.createElement('img');
    //const png = document.createElement('img');

    if (data.user === '{{user}}') {
      div.classList.add('mine');
    } else {
      div.classList.add('other');
    }
    const name = document.createElement('div');
    name.textContent = data.user;
    div.appendChild(name);
    if (data.chat) {
      const chat = document.createElement('div');
      chat.textContent = data.chat;
      div.appendChild(chat);
    } else if (data.img) {
      img.src = '/img/' + data.img;
      div.appendChild(img);
    } else {
      // png.src = '/png/' + data.png;
      // div.appendChild(png);
    }
    div.style.color = data.user;
    document.querySelector('#chat-list').appendChild(div);
  });
  document.querySelector('#chat-form').addEventListener('submit', (e) => {
    e.preventDefault();
    if (e.target.chat.value) {
      axios
        .post('/room/{{room._id}}/chat', {
          chat: this.chat.value,
        })
        .then(() => {
          e.target.chat.value = '';
        })
        .catch((err) => {
          console.error(err);
        });
    }
  });
  //doucument.querySelector('#var') -> 이것은 var 아이디를 가진 요소를 찾음
  //위에 있는 input에 'change'이벤트가 발생(파일 선택)되면 아래 함수 실행
  document.querySelector('#img').addEventListener('change', (e) => {
    console.log(e.target.files);
    const formData = new FormData();
    formData.append('img', e.target.files[0]);
    axios
      //아래의 .post를 통해 app.js의 app.post('room/:id/img'~) 가 실행됨
      .post('/room/{{room._id}}/img', formData)
      .then(() => {
        e.target.file = null;
      })
      .catch((err) => {
        console.error(err);
      });
  });

  // document.querySelector('#png').addEventListener('change', (e) => {
  //   console.log(e.target.files);
  //   const formData = new FormData();
  //   formData.append('png', e.target.files[0]);
  //   axios
  //     .post('/room/{{room._id}}/png', formData)
  //     .then(() => {
  //       e.target.file = null;
  //     })
  //     .catch((err) => {
  //       console.error(err);
  //     });
  // });
</script>
{% endblock %}
