{% extends 'layout.html' %}

{% block content %}
<h1>UsualChat 채팅방</h1>
<h2><button type="button" onclick="location.href='/logout'" style="position:relative"> 로그아웃 </button></h2>
<fieldset style="float: left">
  <legend>채팅방</legend>
  <table>
    <thead>
    <tr>
      <th>방 제목</th>
      <th>종류</th>
      <th>허용 인원</th>
      <th>방장</th>
    </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
      <tr data-id="{{room._id}}">
        <td>{{room.title}}</td>
        <td>{{'비밀방' if room.password else '공개방'}}</td>
        <td>{{room.max}}</td>
        <td>{{room.owner}}</td>
        <td>
          <button
            data-password="{{'true' if room.password else 'false'}}"
            data-id="{{room._id}}"
            class="register-btn"
          >입장
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="error-message">{{error}}</div>
  <a href="/room">채팅방 생성</a>
</fieldset>
<fieldset style="float: left">
  <legend>친구</legend>
  <table>
    <thead>
    <tr>
      <th>아이디</th>
      <th>1:1 채팅</th>
    </tr>
    </thead>
    <tbody>

      <tr>
        <td>aaaaaaaaaa</td>
        <td>
          <button>입장</button>
        </td>
      </tr>

    </tbody>
  </table>
  <br>
  <input type="checkbox" id="friendBtn" style="position: fixed; left:-9999px"><label for="friendBtn" class="friendBtn" style="cursor:pointer"><b>친구 관리</b></label>
  <div class='friend'>
친구 추가<br>
<form action='/friend' method="post" id="addfriend" >
<input type="text" size="15" id="friend" name="friend"><button type="submit">추가</button></form><br>
친구 삭제<br>
<input type="text" size="15"><button>삭제</button>
<br>친구 요청
  <table>
    <thead>
      <tr>
        <th>아이디</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>aaaaaaaaaa</td>
        <td>05/09</td>
        <td><button>O</button><button>X</button></td>
      </tr>

    </tbody>
    </table>
    </div>
</fieldset>
    <a href="/deluser" type="button">회원 탈퇴</button>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('http://localhost:3001/room', {
    path: '/socket.io',
  });

  socket.on('newRoom', function (data) {
    const tr = document.createElement('tr');
    let td = document.createElement('td');
    td.textContent = data.title;
    tr.appendChild(td);
    td = document.createElement('td');
    td.textContent = data.password ? '비밀방' : '공개방';
    tr.appendChild(td);
    td = document.createElement('td');
    td.textContent = data.max;
    tr.appendChild(td);
    td = document.createElement('td');
    td.textContent = data.owner;
    tr.appendChild(td);
    td = document.createElement('td');
    const button = document.createElement('button');
    button.textContent = '입장';
    button.dataset.password = data.password ? 'true' : 'false';
    button.dataset.id = data._id;
    button.addEventListener('click', addBtnEvent);
    td.appendChild(button);
    tr.appendChild(td);
    tr.dataset.id = data._id;
    document.querySelector('table tbody').appendChild(tr);
  });

  socket.on('removeRoom', function (data) {
    document.querySelectorAll('tbody tr').forEach(function (tr) {
      if (tr.dataset.id === data) {
        tr.parentNode.removeChild(tr);
      }
    });
  });

  function addBtnEvent(e) {
    if (e.target.dataset.password === 'true') {
      const password = prompt('비밀번호를 입력하세요');
      location.href = '/room/' + e.target.dataset.id + '?password=' + password;
    } else {
      location.href = '/room/' + e.target.dataset.id;
    }
  }

  document.querySelectorAll('.register-btn').forEach(function (btn) {
    btn.addEventListener('click', addBtnEvent);
  });
  document.querySelector('#addfriend').addEventListener('submit', e => {
    e.preventDefault();
      axios.post('/friend', {
        friend: this.friend.value,
      })
      .then(() => {
        e.target.friend.value = '';
      })
      .catch((err) => {
        console.error(err);
      });
  })

</script>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('error')) {
      alert(new URL(location.href).searchParams.get('error'));
    }
  };
</script>
{% endblock %}
